.header-wrapper img {
    width: 75px;
    height: 50px;
    margin-left: 20px;
}

.profile-name {
    font: 700 19px Roboto;
    padding: 0;    
    margin: 0;
}

.profile-tweets {
    font: 15px Roboto;
    padding: 0;  
    margin: 0;
}