.relation-card {
    display: flex;
    align-items: center;
    justify-content: space-between;    
    padding: 5px 20px;
    border-bottom: 1px solid var(--color-background-secondary);
    overflow: hidden;
}

.relation-card-profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 10px;
    margin: 5px;
    padding: 4px;
    border: 03px solid var(--color-background);
}

.relation-card-info {
    flex: 0.97;
    padding: 0;  
}

.relation-card-info strong {
    padding: 0;  
    margin: 0;    
    font: 700 17px Roboto;  
}

.relation-card-info p {
    padding: 0;  
    margin: 0;    
    font: 17px Roboto;  
    color: var(--color-background-secondary);
}

.relation-card-info span {
    padding: 0;  
    margin: 0;    
    font: 17px Roboto;
}

.relation-card-relation {
    padding: 0;  
}

button {
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    border-color: var(--color-text-title);
    border-width: 1px;
    border-style: solid;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    outline:none;
    padding-left: 1em;
    padding-right: 1em;
    transition-property: background-color, box-shadow;
    transition-duration: 0.2s;
    width: 110px;    
}

button:hover {
    background-color: var(--color-background);
}

button span {
    color: var(--color-text-title);
    font: 700 17px Roboto;
    padding: 10px;
}